<% layout("/layouts/boilerplate") %>

<div class="container">
  <h1>Shopping Cart</h1>
  <div class="table" id="cartPage">
    <div class="tableRow head">
      <img src="" />
      <p>Hotel</p>
      <div>Quantity</div>
      <p>Amount</p>
    </div>
  </div>
  <div class="final">
    <button class="checkout" id="placeOrder">Checkout</button>
    <p id="totalamt">0.00</p>
  </div>
</div>

<script src="js/cartPage.js"></script>
